.clients-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  color: var(--main-title-color);

  @media screen and (min-width: 480px) {
    font-size: 28px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients {
  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients-list {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
  }
}

.clients-list__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;

      &:nth-child(-n + 4) {
        margin-bottom: 30px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    &:nth-last-child(3n + 1) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms linear;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
  @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-list__icon {
  fill: var(--icon-colour);
  transition: fill 250ms linear;
  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--accent-color);
  }
}

.input-footer-mail {
  width: 450px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  color: var(--secondary-title-colot);
  margin-right: 12px;

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
