img {
  width: 100%;
  display: block;

  height: auto;
}

.teem-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
.teem-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.teem-list {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.teem-list__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // margin-bottom: 30px;

  @media screen and (max-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 2);
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 4);
  }
}

.teem-section {
  background-color: #f5f4fa;
  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.teem-box {
  padding: 30px 0 30px 0;
}
