.page-header {
  width: 100%;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}
.page-header_menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
  }
}

.header-nav_list {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  color: var(--first-text-color);
  display: flex;
}
