.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  border: none;
}

.header__btn:hover,
.header__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


<div class="backdrop is-hidden" data-modal>
        <div class="modal">
          <button type="button" class="modal-close" data-modal-close>
            <svg class="close-icon" width="15" height="15">
              <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
          </button>
          <form action="+" class="modal-form">
            <b class="modal-title">Leave your contacts and we'll call you back</b>
            <div class="modal-form-field">
              <label for="input-name" class="modal-form-lable"></label>
              <span class="input-wrap">
                <input
                  type="text"
                  id="input-name"
                  placeholder="Name"
                  class="modal-form-input"
                />
                <svg class="modal-icon" width="15" height="15">
                  <use href="./images/symbol-defs.svg#icon-user"></use>
                </svg>
              </span>
            </div>
            <div class="modal-form-field">
              <label for="input-tel" class="modal-form-lable"></label>
              <span class="input-wrap">
                <input
                  type="text"
                  id="input-tel"
                  placeholder="+380"
                  class="modal-form-input"
                />
                <svg class="modal-icon" width="15" height="15">
                  <use href="./images/symbol-defs.svg#icon-phone"></use>
                </svg>
              </span>
            </div>

            <div class="modal-form-field">
              <label for="input-comment" class="modal-form-lable"
                >Comennt</label
              >
              <textarea
                name="modal-comment"
                id="comment"
                placeholder=""
                class="modal-comment"
              ></textarea>
            </div>
            <div class="modal-form-text">
              <input
                type="checkbox"
                id="check"
                class="visually-hidden checkbox"
                name="policy"
              />
              <label for="check" class="check-lable"
                ><span class="ceckbox-text"
                  >I agree to the terms of service
                  <a href="" class="modal-form-link">terms of service </a>
                </span></label
              >
            </div>
            <div class="modal-footer">
            <button class="modal-btn btn" type="button">Buy now </button>
          </form>
          <img class="back-img" src="./images/modal-milk.png" alt="" /></div>
        </div>
        

        .modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.06em;
  background-color: #ecebeb;
  color: #d41443;
  border-radius: 22px;
  padding: 20px 37px 20px 37px;
  border: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #c7133e;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal {
  position: absolute;
  min-height: 581px;
  background-color: #e17992;
  border-radius: 22px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.modal-form-field {
  margin-bottom: 25px;
}

.modal-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.close-icon {
  fill: #ecebeb;
}

.close-icon:hover,
.close-icon:focus {
  fill: #c7133e;
}

.modal-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  display: block;
  color: #ecebeb;
}

.modal-form-lable {
  font-size: 20px;
  line-height: 14px;
  color: #ecebeb;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 17px;
  padding-left: 42px;
  color: #c7133e;
  &:focus,
  &:hover {
    border-color: #c7133e;
    outline: none;
  }
}

.input-wrap {
  display: block;
  position: relative;
  transition: border 250ms linear;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #ecebeb;
  .modal-form-input:hover + &,
  .modal-form-input:focus + & {
    fill: #c7133e;
  }
}

.modal-comment {
  width: 100%;
  height: 120px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 17px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  color: #c7133e;
  &:focus,
  &:hover {
    border-color: #c7133e;
    outline: none;
  }
  &::placeholder {
    font-size: 14px;
  }
}

.modal-form-link {
  color: #c7133e;
}

.check-lable {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #c7133e;
    border-radius: 2px;
    margin-right: 5px;
  }
}

.checkbox:checked + .check-lable::before {
  background: #c7133e;
  fill: #ecebeb;
  background-image: url(./images/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.modal-form-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.ceckbox-text {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ecebeb;
}

.modal-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-img {
  width: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
